@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';

html{
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-color);
}

main{
    max-width: rem-calc(900);
    margin: 0 auto;
    box-sizing: border-box;
}